<ng-container *ngIf="(customerState$ | async) as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.LOADED">
    <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
    <section>
      <div class="container">
        <nav aria-label="breadcrumb" style="margin-top: 8px;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/customers']">Customers</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ state?.appData?.data?.customer.name }}</li>
          </ol>
        </nav>
        <div class="row">
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-start">
                  <div class="w-100 ms-4">
                    <br>
                    <h2 class="my-0" style="font-family: BlackChancery, sans-serif">{{ state?.appData?.data?.customer.name }}</h2>
                    <br>
<!--                    <span class="badge" style="position: absolute;bottom:60px;left: 113px; top: 70px;font-size: 11px; height: 18px;"-->
<!--                          [ngClass]="[-->
<!--                          state?.appData?.data?.customer.status === 'ACTIVE' ? ' bg-success' : ' ',-->
<!--                          state?.appData?.data?.customer.status === 'PENDING' ? ' bg-primary' : ' ',-->
<!--                          state?.appData?.data?.customer.status === 'BANNED' ? ' bg-danger' : ' ',-->
<!--                          state?.appData?.data?.customer.status === 'INACTIVE' ? ' bg-info' : ' '-->
<!--                          ]" >-->
<!--                                 {{ state?.appData?.data?.customer.status }}-->
<!--                         </span>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Profile Details</h5>
                <form #customerForm="ngForm" (ngSubmit)="updateCustomer(customerForm)">
                  <input type="hidden" [ngModel]="state?.appData?.data?.customer.id" name="id"
                         [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)">
                  <input type="hidden" [ngModel]="state?.appData?.data?.customer.createdAt" name="createdAt"
                         [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" >
                  <div class="row mb-3">
                    <label for="name" class="col-sm-3 col-form-label">First Name</label>
                    <div class="col-sm-9">
                      <input type="text" [ngModel]="state?.appData?.data?.customer.name" name="name"
                             [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)"
                             class="form-control">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="address" class="col-sm-3 col-form-label">Address</label>
                    <div class="col-sm-9">
                      <input type="text" [ngModel]="state?.appData?.data?.customer.address" name="address"
                             [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)"
                             class="form-control">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="phone" class="col-sm-3 col-form-label">Phone</label>
                    <div class="col-sm-9">
                      <input type="text" [ngModel]="state?.appData?.data?.customer.phone" name="phone"
                             [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)"
                             class="form-control">
                    </div>
                  </div>

                  <button [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)"
                    type="submit" class="btn btn-primary float-end">
                    <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true" style="margin-right: 5px;"></span>
                    <span *ngIf="isLoading$ | async">Loading...</span>
                    <span *ngIf="!(isLoading$ | async)">Update</span>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total Billed</h5>
              <h6 class="card-subtitle mb-2 text-muted">Customer Total Billed</h6>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size: 20px;">
                  Total Billed
                  <span class="badge bg-success" style="font-size: 20px;">
                                $ {{ state?.appData?.data?.customer.invoices | ExtractArrayValue: 'invoices' }}
                            </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container>
